n8n/workflows/TDX-Competitive-Intelligence.json
{
  "name": "TDX-Competitive-Intelligence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tdx-competitive-intel",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "tdx-competitive-intel"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/tenders?id=eq.' + $json.body.tender_id + '&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-tender",
      "name": "Get Tender",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/tender_competitors?tender_id=eq.' + $('Webhook').first().json.body.tender_id + '&select=*,competitors(*)' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-tender-comps",
      "name": "Get Tender Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/gate_conditions?tender_id=eq.' + $('Webhook').first().json.body.tender_id + '&select=condition_text,status,is_mandatory' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-gates",
      "name": "Get Gate Conditions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "jsCode": "const tenders = $('Get Tender').all().map(i => i.json).flat();\nconst tenderComps = $('Get Tender Competitors').all().map(i => i.json).flat();\nconst gates = $input.all().map(i => i.json).flat();\nconst tender = tenders[0] || {};\nconst tender_id = $('Webhook').first().json.body.tender_id;\nconst org_id = $('Webhook').first().json.body.org_id;\n\n// Format competitor analysis\nconst compsText = tenderComps.map(tc => {\n  const c = tc.competitors || {};\n  return `- ${c.name || 'לא ידוע'}\n  סבירות להגשה: ${tc.likelihood_to_bid}\n  טווח הצעה צפוי: ${tc.estimated_bid_range_low?.toLocaleString()}-${tc.estimated_bid_range_high?.toLocaleString()} ש\"ח\n  חוזקות למכרז: ${(tc.their_strengths || []).join(', ')}\n  חולשות למכרז: ${(tc.their_weaknesses || []).join(', ')}\n  אסטרטגיה שלנו: ${tc.our_counter_strategy || 'לא הוגדרה'}\n  פרופיל כללי: ${(c.strengths || []).join(', ')}\n  תחומי התמחות: ${(c.typical_domains || []).join(', ')}`;\n}).join('\\n\\n');\n\n// Format gate conditions\nconst gatesText = gates.slice(0, 10).map(g => \n  `- ${g.condition_text?.substring(0, 100)}... [${g.status || 'UNKNOWN'}] ${g.is_mandatory ? '(חובה)' : ''}`\n).join('\\n');\n\nconst userMessage = `צור דוח מודיעין תחרותי מלא למכרז.\n\nפרטי המכרז:\n- שם: ${tender.tender_name || 'לא ידוע'}\n- גוף מזמין: ${tender.issuing_body || 'לא ידוע'}\n- שווי משוער: ${tender.estimated_value || 'לא צוין'}\n- מועד הגשה: ${tender.submission_deadline || 'לא צוין'}\n\nמתחרים צפויים (${tenderComps.length}):\n${compsText || 'אין מתחרים מוגדרים'}\n\nתנאי סף מרכזיים:\n${gatesText || 'אין תנאי סף'}\n\nצור דוח מודיעין תחרותי עם המבנה הבא (JSON):\n{\n  \"competitive_landscape\": {\n    \"total_expected_competitors\": 0,\n    \"competition_intensity\": \"HIGH/MEDIUM/LOW\",\n    \"market_type\": \"OPEN/OLIGOPOLY/MONOPOLY\",\n    \"price_sensitivity\": \"HIGH/MEDIUM/LOW\"\n  },\n  \"competitor_profiles\": [\n    {\n      \"name\": \"שם\",\n      \"threat_level\": \"HIGH/MEDIUM/LOW\",\n      \"win_probability\": 0,\n      \"key_advantage\": \"יתרון מרכזי\",\n      \"vulnerability\": \"נקודת תורפה\",\n      \"counter_strategy\": \"אסטרטגיה נגדית\"\n    }\n  ],\n  \"our_position\": {\n    \"win_probability\": 0,\n    \"competitive_advantages\": [\"יתרון 1\"],\n    \"competitive_weaknesses\": [\"חולשה 1\"],\n    \"must_improve\": [\"נקודה לשיפור\"]\n  },\n  \"strategic_recommendations\": [\n    {\n      \"area\": \"PRICING/TECHNICAL/RELATIONSHIP/TIMING\",\n      \"recommendation\": \"המלצה\",\n      \"priority\": \"P1/P2/P3\",\n      \"rationale\": \"נימוק\"\n    }\n  ],\n  \"risk_assessment\": {\n    \"main_risks\": [\n      {\n        \"risk\": \"תיאור\",\n        \"probability\": \"HIGH/MEDIUM/LOW\",\n        \"impact\": \"HIGH/MEDIUM/LOW\",\n        \"mitigation\": \"מענה\"\n      }\n    ],\n    \"overall_risk_level\": \"HIGH/MEDIUM/LOW\"\n  }\n}\n\nJSON בלבד:`;\n\nreturn [{\n  json: {\n    tender_id,\n    org_id,\n    tender_name: tender.tender_name,\n    issuing_body: tender.issuing_body,\n    competitors_count: tenderComps.length,\n    gates_count: gates.length,\n    userMessage\n  }\n}];"
      },
      "id": "prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "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" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 3000,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.userMessage) }}}]\n}",
        "options": { "timeout": 90000 }
      },
      "id": "call-claude",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "const claude = $input.first().json;\nconst prep = $('Prepare').first().json;\n\nif (!claude.content) {\n  return [{ json: { success: false, error: 'No Claude response', data: claude }}];\n}\n\nconst text = claude.content[0]?.text || '';\nlet result = null;\nlet parseError = null;\n\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/s);\n  if (match) result = JSON.parse(match[0]);\n  else parseError = 'No JSON found';\n} catch (e) {\n  parseError = e.message;\n}\n\nreturn [{\n  json: {\n    success: result !== null,\n    tender_id: prep.tender_id,\n    tender_name: prep.tender_name,\n    issuing_body: prep.issuing_body,\n    competitors_analyzed: prep.competitors_count,\n    gates_analyzed: prep.gates_count,\n    competitive_landscape: result?.competitive_landscape || {},\n    competitor_profiles: result?.competitor_profiles || [],\n    our_position: result?.our_position || {},\n    strategic_recommendations: result?.strategic_recommendations || [],\n    risk_assessment: result?.risk_assessment || {},\n    raw_response: text.substring(0, 500),\n    parse_error: parseError,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Tender", "type": "main", "index": 0 }]] },
    "Get Tender": { "main": [[{ "node": "Get Tender Competitors", "type": "main", "index": 0 }]] },
    "Get Tender Competitors": { "main": [[{ "node": "Get Gate Conditions", "type": "main", "index": 0 }]] },
    "Get Gate Conditions": { "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]] },
    "Prepare": { "main": [[{ "node": "Call Claude", "type": "main", "index": 0 }]] },
    "Call Claude": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
