n8n/workflows/TDX-Competitor-Mapping.json
{
  "name": "TDX-Competitor-Mapping",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tdx-competitor-mapping",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "tdx-competitor-mapping"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/tenders?id=eq.' + $json.body.tender_id + '&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-tender",
      "name": "Get Tender",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/competitors?org_id=eq.' + $('Webhook').first().json.body.org_id + '&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-competitors",
      "name": "Get Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/competitor_bids?select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-bids",
      "name": "Get Historical Bids",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "jsCode": "const tenders = $('Get Tender').all().map(i => i.json).flat();\nconst competitors = $('Get Competitors').all().map(i => i.json).flat();\nconst bids = $input.all().map(i => i.json).flat();\nconst tender = tenders[0] || {};\nconst tender_id = $('Webhook').first().json.body.tender_id;\nconst org_id = $('Webhook').first().json.body.org_id;\n\n// Build competitor profiles with history\nconst competitorProfiles = competitors.map(c => {\n  const compBids = bids.filter(b => b.competitor_id === c.id);\n  const wonBids = compBids.filter(b => b.won);\n  return `- ${c.name} (ח.פ. ${c.company_number || 'לא ידוע'})\n  תחומים: ${(c.typical_domains || []).join(', ')}\n  חוזקות: ${(c.strengths || []).join(', ')}\n  חולשות: ${(c.weaknesses || []).join(', ')}\n  אסטרטגיית תמחור: ${c.known_pricing_strategy || 'לא ידוע'}\n  מרווח רווח טיפוסי: ${c.typical_margin_range || 'לא ידוע'}\n  היסטוריה: ${compBids.length} הצעות, ${wonBids.length} זכיות`;\n}).join('\\n\\n');\n\nconst userMessage = `מפה את המתחרים הפוטנציאליים למכרז הבא וזהה את רמת האיום שלהם.\n\nפרטי המכרז:\n- שם: ${tender.tender_name || 'לא ידוע'}\n- גוף מזמין: ${tender.issuing_body || 'לא ידוע'}\n- תחום: ${tender.tender_type || 'לא ידוע'}\n- שווי משוער: ${tender.estimated_value || 'לא צוין'}\n- מועד הגשה: ${tender.submission_deadline || 'לא צוין'}\n\nמתחרים מוכרים במערכת:\n${competitorProfiles}\n\nצור מיפוי מתחרים עם המבנה הבא (JSON):\n{\n  \"competitors_analysis\": [\n    {\n      \"competitor_name\": \"שם המתחרה\",\n      \"likelihood_to_bid\": \"HIGH/MEDIUM/LOW\",\n      \"threat_level\": \"HIGH/MEDIUM/LOW\",\n      \"strengths_for_tender\": [\"יתרון ספציפי למכרז זה\"],\n      \"weaknesses_for_tender\": [\"חולשה ספציפית למכרז זה\"],\n      \"estimated_bid_strategy\": \"תיאור אסטרטגיה צפויה\",\n      \"our_counter_strategy\": \"איך לנטרל את האיום\"\n    }\n  ],\n  \"market_summary\": {\n    \"total_expected_bidders\": 0,\n    \"competition_level\": \"HIGH/MEDIUM/LOW\",\n    \"key_success_factors\": [\"גורם הצלחה 1\"],\n    \"recommended_positioning\": \"המלצה לפוזיציה במכרז\"\n  }\n}\n\nJSON בלבד:`;\n\nreturn [{\n  json: {\n    tender_id,\n    org_id,\n    tender_name: tender.tender_name,\n    issuing_body: tender.issuing_body,\n    competitors_count: competitors.length,\n    userMessage\n  }\n}];"
      },
      "id": "prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "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" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2500,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.userMessage) }}}]\n}",
        "options": { "timeout": 90000 }
      },
      "id": "call-claude",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "const claude = $input.first().json;\nconst prep = $('Prepare').first().json;\n\nif (!claude.content) {\n  return [{ json: { success: false, error: 'No Claude response', data: claude }}];\n}\n\nconst text = claude.content[0]?.text || '';\nlet result = null;\nlet parseError = null;\n\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/s);\n  if (match) result = JSON.parse(match[0]);\n  else parseError = 'No JSON found';\n} catch (e) {\n  parseError = e.message;\n}\n\nreturn [{\n  json: {\n    success: result !== null,\n    tender_id: prep.tender_id,\n    tender_name: prep.tender_name,\n    issuing_body: prep.issuing_body,\n    competitors_in_db: prep.competitors_count,\n    competitors_analysis: result?.competitors_analysis || [],\n    market_summary: result?.market_summary || {},\n    raw_response: text.substring(0, 500),\n    parse_error: parseError,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1740, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Tender", "type": "main", "index": 0 }]] },
    "Get Tender": { "main": [[{ "node": "Get Competitors", "type": "main", "index": 0 }]] },
    "Get Competitors": { "main": [[{ "node": "Get Historical Bids", "type": "main", "index": 0 }]] },
    "Get Historical Bids": { "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]] },
    "Prepare": { "main": [[{ "node": "Call Claude", "type": "main", "index": 0 }]] },
    "Call Claude": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
