n8n/workflows/TDX-P2-Gate-Matching-v3 (1).json
{
  "name": "TDX-P2-Gate-Matching",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gate-matching",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d0a1b2c3-0001-0000-0000-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "gate-matching-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/gate_conditions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "tender_id",
              "value": "={{ 'eq.' + $json.body.tender_id }}"
            },
            {
              "name": "order",
              "value": "condition_number.asc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0OTQzMDcsImV4cCI6MjA4MTA3MDMwN30.XE4N3ewYESrVeCMWZdJhYbgjTG_SRaYQ9zUczjVgNUM"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "d0a1b2c3-0002-0000-0000-000000000001",
      "name": "Get Gate Conditions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/company_financials",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "org_id",
              "value": "={{ 'eq.' + $json.body.org_id }}"
            },
            {
              "name": "order",
              "value": "fiscal_year.desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0OTQzMDcsImV4cCI6MjA4MTA3MDMwN30.XE4N3ewYESrVeCMWZdJhYbgjTG_SRaYQ9zUczjVgNUM"
            }
          ]
        },
        "options": {}
      },
      "id": "d0a1b2c3-0003-0000-0000-000000000001",
      "name": "Get Financials",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 250],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/company_projects",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "org_id",
              "value": "={{ 'eq.' + $json.body.org_id }}"
            },
            {
              "name": "order",
              "value": "end_date.desc.nullslast"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0OTQzMDcsImV4cCI6MjA4MTA3MDMwN30.XE4N3ewYESrVeCMWZdJhYbgjTG_SRaYQ9zUczjVgNUM"
            }
          ]
        },
        "options": {}
      },
      "id": "d0a1b2c3-0004-0000-0000-000000000001",
      "name": "Get Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/company_certifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "org_id",
              "value": "={{ 'eq.' + $json.body.org_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0OTQzMDcsImV4cCI6MjA4MTA3MDMwN30.XE4N3ewYESrVeCMWZdJhYbgjTG_SRaYQ9zUczjVgNUM"
            }
          ]
        },
        "options": {}
      },
      "id": "d0a1b2c3-0005-0000-0000-000000000001",
      "name": "Get Certifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 550],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/company_personnel",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "*"
            },
            {
              "name": "org_id",
              "value": "={{ 'eq.' + $json.body.org_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0OTQzMDcsImV4cCI6MjA4MTA3MDMwN30.XE4N3ewYESrVeCMWZdJhYbgjTG_SRaYQ9zUczjVgNUM"
            }
          ]
        },
        "options": {}
      },
      "id": "d0a1b2c3-0006-0000-0000-000000000001",
      "name": "Get Personnel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "d0a1b2c3-0015-0000-0000-000000000001",
      "name": "Wait For All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [760, 400]
    },
    {
      "parameters": {
        "jsCode": "// Get data from all HTTP nodes using $() syntax\n// The Merge node ensures all 5 HTTP requests completed before this runs\nconst conditionsData = $('Get Gate Conditions').all().map(item => item.json);\nconst financialsData = $('Get Financials').all().map(item => item.json);\nconst projectsData = $('Get Projects').all().map(item => item.json);\nconst certificationsData = $('Get Certifications').all().map(item => item.json);\nconst personnelData = $('Get Personnel').all().map(item => item.json);\n\n// Flatten arrays if nested\nconst conditions = conditionsData.flat();\nconst financials = financialsData.flat();\nconst projects = projectsData.flat();\nconst certifications = certificationsData.flat();\nconst personnel = personnelData.flat();\n\nconsole.log('Data loaded:', {\n  conditions: conditions.length,\n  financials: financials.length,\n  projects: projects.length,\n  certifications: certifications.length,\n  personnel: personnel.length\n});\n\n// Helper functions\nfunction calculateAverageRevenue(financials, years) {\n  const recent = financials.slice(0, years);\n  if (recent.length === 0) return 0;\n  const sum = recent.reduce((acc, f) => acc + (parseFloat(f.annual_revenue) || 0), 0);\n  return sum / recent.length;\n}\n\nfunction findMaxProjectValue(projects) {\n  if (projects.length === 0) return { value: 0, project: null };\n  let maxVal = 0;\n  let maxProj = null;\n  for (const p of projects) {\n    const val = parseFloat(p.total_value) || 0;\n    if (val > maxVal) {\n      maxVal = val;\n      maxProj = p;\n    }\n  }\n  return { value: maxVal, project: maxProj };\n}\n\nfunction countProjectsByClientType(projects, clientTypes) {\n  if (!clientTypes || clientTypes.length === 0) return projects.length;\n  return projects.filter(p => clientTypes.includes(p.client_type)).length;\n}\n\nfunction findCertification(certs, searchTerms) {\n  const terms = Array.isArray(searchTerms) ? searchTerms : [searchTerms];\n  const now = new Date();\n  \n  for (const cert of certs) {\n    if (cert.valid_until) {\n      const validUntil = new Date(cert.valid_until);\n      if (validUntil < now) continue;\n    }\n    \n    for (const term of terms) {\n      const termLower = term.toLowerCase();\n      if (cert.cert_type?.toLowerCase().includes(termLower) ||\n          cert.cert_name?.toLowerCase().includes(termLower) ||\n          cert.cert_number?.toLowerCase().includes(termLower)) {\n        return cert;\n      }\n    }\n  }\n  return null;\n}\n\nfunction findPersonnelWithCert(personnel, certKeywords) {\n  const keywords = Array.isArray(certKeywords) ? certKeywords : [certKeywords];\n  return personnel.filter(p => {\n    const certs = p.professional_certifications || [];\n    return certs.some(c => \n      keywords.some(kw => c.toLowerCase().includes(kw.toLowerCase()))\n    );\n  });\n}\n\nfunction findPersonnelByRole(personnel, roleKeywords) {\n  const keywords = Array.isArray(roleKeywords) ? roleKeywords : [roleKeywords];\n  return personnel.filter(p => \n    keywords.some(kw => p.role?.toLowerCase().includes(kw.toLowerCase()))\n  );\n}\n\nfunction formatMoney(amount) {\n  return String.fromCharCode(8362) + (amount / 1000000).toFixed(2) + 'M';\n}\n\n// Process each gate condition\nconst results = [];\n\nfor (const gc of conditions) {\n  let status = 'UNKNOWN';\n  let evidence = null;\n  let confidence = 0;\n  let gap = null;\n  let remediation = null;\n\n  const reqType = (gc.requirement_type || '').toUpperCase();\n  const condType = (gc.condition_type || '').toUpperCase();\n  const condText = (gc.condition_text || '').toLowerCase();\n\n  try {\n    if (condType === 'FINANCIAL' || condText.includes('revenue')) {\n      const years = gc.required_years || 3;\n      const avgRevenue = calculateAverageRevenue(financials, years);\n      const required = parseFloat(gc.required_amount) || 0;\n      \n      if (financials.length === 0) {\n        status = 'UNKNOWN';\n        gap = 'No financial data';\n        confidence = 0;\n      } else if (avgRevenue >= required) {\n        status = 'MEETS';\n        evidence = 'Average revenue: ' + formatMoney(avgRevenue);\n        confidence = 100;\n      } else {\n        status = 'DOES_NOT_MEET';\n        gap = 'Revenue ' + formatMoney(avgRevenue) + ' < required ' + formatMoney(required);\n        confidence = 100;\n      }\n    }\n    else if (condType === 'PROJECT') {\n      const { value: maxValue, project: bestProject } = findMaxProjectValue(projects);\n      const required = parseFloat(gc.required_amount) || 0;\n      \n      if (projects.length === 0) {\n        status = 'UNKNOWN';\n        gap = 'No projects';\n        confidence = 0;\n      } else if (maxValue >= required && bestProject) {\n        status = 'MEETS';\n        evidence = bestProject.project_name + ': ' + formatMoney(maxValue);\n        confidence = 100;\n      } else {\n        status = 'DOES_NOT_MEET';\n        gap = 'Max project ' + formatMoney(maxValue) + ' < required ' + formatMoney(required);\n        confidence = 100;\n      }\n    }\n    else if (condType === 'CERTIFICATION' || condText.includes('iso')) {\n      let searchTerms = [];\n      if (condText.includes('9001')) searchTerms = ['9001', 'ISO 9001'];\n      else if (condText.includes('27001')) searchTerms = ['27001', 'ISO 27001'];\n      else searchTerms = [reqType];\n      \n      const cert = findCertification(certifications, searchTerms);\n      \n      if (cert) {\n        status = 'MEETS';\n        evidence = cert.cert_name + ' - ' + cert.issuing_body;\n        confidence = 100;\n      } else {\n        status = 'DOES_NOT_MEET';\n        gap = 'Missing certification';\n        confidence = 100;\n      }\n    }\n    else if (condType === 'PERSONNEL') {\n      let found = findPersonnelByRole(personnel, ['Project Manager', 'Engineer']);\n      \n      if (found.length > 0) {\n        status = 'MEETS';\n        evidence = found.slice(0, 2).map(p => p.full_name + ' - ' + p.role).join('; ');\n        confidence = 100;\n      } else {\n        status = 'DOES_NOT_MEET';\n        gap = 'No matching personnel';\n        confidence = 100;\n      }\n    }\n    else {\n      status = 'UNKNOWN';\n      gap = 'Unknown condition type: ' + condType;\n      confidence = 0;\n    }\n    \n  } catch (error) {\n    status = 'UNKNOWN';\n    gap = 'Error: ' + error.message;\n    confidence = 0;\n  }\n\n  results.push({\n    id: gc.id,\n    tender_id: gc.tender_id,\n    condition_number: gc.condition_number,\n    condition_text: gc.condition_text,\n    condition_type: gc.condition_type,\n    requirement_type: gc.requirement_type,\n    is_mandatory: gc.is_mandatory,\n    status: status,\n    company_evidence: evidence,\n    gap_description: gap,\n    remediation_suggestion: remediation,\n    confidence_score: confidence\n  });\n}\n\nreturn results;"
      },
      "id": "d0a1b2c3-0007-0000-0000-000000000001",
      "name": "Evaluate Conditions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\n\nif (results.length === 0) {\n  return [{\n    json: {\n      error: 'No conditions found',\n      conditions: [],\n      summary: null\n    }\n  }];\n}\n\nconst summary = {\n  tender_id: results[0].json.tender_id,\n  total: results.length,\n  meets: results.filter(r => r.json.status === 'MEETS').length,\n  partially_meets: results.filter(r => r.json.status === 'PARTIALLY_MEETS').length,\n  does_not_meet: results.filter(r => r.json.status === 'DOES_NOT_MEET').length,\n  unknown: results.filter(r => r.json.status === 'UNKNOWN').length\n};\n\nconst mandatoryFails = results.filter(r => \n  r.json.is_mandatory && r.json.status === 'DOES_NOT_MEET'\n);\n\nif (mandatoryFails.length > 0) {\n  summary.eligibility = 'NOT_ELIGIBLE';\n} else if (summary.does_not_meet > 0) {\n  summary.eligibility = 'CONDITIONAL';\n} else if (summary.unknown > 2) {\n  summary.eligibility = 'CONDITIONAL';\n} else {\n  summary.eligibility = 'ELIGIBLE';\n}\n\nsummary.blocking = mandatoryFails.map(r => r.json.condition_number);\n\nconst recs = [];\nif (summary.meets === summary.total) {\n  recs.push('Company meets all conditions');\n  recs.push('Recommendation: GO');\n} else {\n  recs.push('Meets ' + summary.meets + ' of ' + summary.total + ' conditions');\n  if (mandatoryFails.length > 0) {\n    recs.push('CRITICAL: ' + mandatoryFails.length + ' mandatory conditions not met');\n    recs.push('Recommendation: NO-GO or find partners');\n  }\n}\nsummary.recommendations = recs;\n\nreturn [{\n  json: {\n    conditions: results.map(r => r.json),\n    summary: summary\n  }\n}];"
      },
      "id": "d0a1b2c3-0008-0000-0000-000000000001",
      "name": "Calculate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 400]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst conditions = data.conditions || [];\nreturn conditions.map(c => ({ json: c }));"
      },
      "id": "d0a1b2c3-0009-0000-0000-000000000001",
      "name": "Split Conditions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/gate_conditions?id=eq.' + $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0OTQzMDcsImV4cCI6MjA4MTA3MDMwN30.XE4N3ewYESrVeCMWZdJhYbgjTG_SRaYQ9zUczjVgNUM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, company_evidence: $json.company_evidence, gap_description: $json.gap_description, remediation_suggestion: $json.remediation_suggestion, confidence_score: $json.confidence_score }) }}",
        "options": {}
      },
      "id": "d0a1b2c3-0010-0000-0000-000000000001",
      "name": "Update Condition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $('Calculate Summary').first().json;\nconst summary = data.summary;\nreturn [{ json: summary }];"
      },
      "id": "d0a1b2c3-0011-0000-0000-000000000001",
      "name": "Get Summary Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/gate_conditions_summary",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0OTQzMDcsImV4cCI6MjA4MTA3MDMwN30.XE4N3ewYESrVeCMWZdJhYbgjTG_SRaYQ9zUczjVgNUM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tender_id: $json.tender_id, total_conditions: $json.total, meets_count: $json.meets, partially_meets_count: $json.partially_meets, does_not_meet_count: $json.does_not_meet, unknown_count: $json.unknown, overall_eligibility: $json.eligibility, blocking_conditions: $json.blocking, recommendations: $json.recommendations }) }}",
        "options": {}
      },
      "id": "d0a1b2c3-0012-0000-0000-000000000001",
      "name": "Upsert Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-auth",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const summaryData = $('Calculate Summary').first().json.summary;\n\nreturn [{\n  json: {\n    success: true,\n    tender_id: summaryData.tender_id,\n    summary: {\n      total: summaryData.total,\n      meets: summaryData.meets,\n      partially_meets: summaryData.partially_meets,\n      does_not_meet: summaryData.does_not_meet,\n      unknown: summaryData.unknown,\n      eligibility: summaryData.eligibility\n    },\n    blocking_conditions: summaryData.blocking,\n    recommendations: summaryData.recommendations,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "d0a1b2c3-0013-0000-0000-000000000001",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "d0a1b2c3-0014-0000-0000-000000000001",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2100, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Get Gate Conditions", "type": "main", "index": 0 },
          { "node": "Get Financials", "type": "main", "index": 0 },
          { "node": "Get Projects", "type": "main", "index": 0 },
          { "node": "Get Certifications", "type": "main", "index": 0 },
          { "node": "Get Personnel", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Gate Conditions": {
      "main": [
        [
          { "node": "Wait For All Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Financials": {
      "main": [
        [
          { "node": "Wait For All Data", "type": "main", "index": 1 }
        ]
      ]
    },
    "Get Projects": {
      "main": [
        [
          { "node": "Wait For All Data", "type": "main", "index": 2 }
        ]
      ]
    },
    "Get Certifications": {
      "main": [
        [
          { "node": "Wait For All Data", "type": "main", "index": 3 }
        ]
      ]
    },
    "Get Personnel": {
      "main": [
        [
          { "node": "Wait For All Data", "type": "main", "index": 4 }
        ]
      ]
    },
    "Wait For All Data": {
      "main": [
        [
          { "node": "Evaluate Conditions", "type": "main", "index": 0 }
        ]
      ]
    },
    "Evaluate Conditions": {
      "main": [
        [
          { "node": "Calculate Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calculate Summary": {
      "main": [
        [
          { "node": "Split Conditions", "type": "main", "index": 0 },
          { "node": "Get Summary Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split Conditions": {
      "main": [
        [
          { "node": "Update Condition", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update Condition": {
      "main": [
        [
          { "node": "Prepare Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Get Summary Data": {
      "main": [
        [
          { "node": "Upsert Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Upsert Summary": {
      "main": [
        [
          { "node": "Prepare Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "Tenderix" },
    { "name": "P2-Gate-Conditions" }
  ],
  "pinData": {}
}