n8n/workflows/TDX-Final-Decision.json
{
  "name": "TDX-Final-Decision",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tdx-final-decision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "tdx-final-decision"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/tenders?id=eq.' + $json.body.tender_id + '&select=*' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-tender",
      "name": "Get Tender",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/gate_conditions?tender_id=eq.' + $('Webhook').first().json.body.tender_id + '&order=condition_number' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-conditions",
      "name": "Get Conditions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "jsCode": "const tenders = $('Get Tender').all().map(i => i.json).flat();\nconst conditions = $input.all().map(i => i.json).flat();\nconst tender = tenders[0] || {};\nconst tender_id = $('Webhook').first().json.body.tender_id;\nconst org_id = $('Webhook').first().json.body.org_id;\n\n// Calculate gate status\nconst meets = conditions.filter(c => c.status === 'MEETS').length;\nconst partial = conditions.filter(c => c.status === 'PARTIALLY_MEETS').length;\nconst fails = conditions.filter(c => c.status === 'DOES_NOT_MEET').length;\nconst unknown = conditions.filter(c => c.status === 'UNKNOWN' || !c.status).length;\nconst mandatory = conditions.filter(c => c.is_mandatory);\nconst mandatoryFails = mandatory.filter(c => c.status === 'DOES_NOT_MEET');\n\nconst conditionsText = conditions.slice(0, 15).map(c => \n  `${c.condition_number}: ${c.condition_text?.substring(0, 80)}... [${c.status || 'UNKNOWN'}] ${c.evidence || c.gap_description || ''}`\n).join('\\n');\n\nreturn [{\n  json: {\n    tender_id,\n    org_id,\n    tender_name: tender.tender_name || 'Unknown',\n    deadline: tender.submission_deadline,\n    estimated_value: tender.estimated_value,\n    gate_stats: { total: conditions.length, meets, partial, fails, unknown, mandatory_fails: mandatoryFails.length },\n    userMessage: `צור דוח החלטה GO/NO-GO למכרז.\\n\\nפרטי המכרז:\\n- שם: ${tender.tender_name || 'לא ידוע'}\\n- מועד הגשה: ${tender.submission_deadline || 'לא צוין'}\\n- שווי משוער: ${tender.estimated_value || 'לא צוין'}\\n\\nסטטיסטיקת תנאי סף:\\n- סה\"כ: ${conditions.length}\\n- עומדים: ${meets}\\n- עומדים חלקית: ${partial}\\n- לא עומדים: ${fails}\\n- לא נבדקו: ${unknown}\\n- תנאי סף חובה שלא עומדים: ${mandatoryFails.length}\\n\\nפירוט:\\n${conditionsText}\\n\\nצור דוח החלטה עם המבנה הבא (JSON):\\n{\\n  \\\"decision\\\": \\\"GO\\\"/\\\"NO-GO\\\"/\\\"CONDITIONAL\\\",\\n  \\\"confidence\\\": 0-100,\\n  \\\"executive_summary\\\": \\\"סיכום מנהלים (3-4 משפטים)\\\",\\n  \\\"eligibility_status\\\": \\\"ELIGIBLE\\\"/\\\"NOT_ELIGIBLE\\\"/\\\"CONDITIONAL\\\",\\n  \\\"blocking_issues\\\": [{\\\"issue\\\": \\\"תיאור\\\", \\\"severity\\\": \\\"CRITICAL\\\", \\\"resolution\\\": \\\"פתרון אפשרי\\\"}],\\n  \\\"strengths\\\": [\\\"חוזקה 1\\\"],\\n  \\\"weaknesses\\\": [\\\"חולשה 1\\\"],\\n  \\\"risks\\\": [{\\\"risk\\\": \\\"תיאור\\\", \\\"probability\\\": \\\"HIGH\\\", \\\"impact\\\": \\\"HIGH\\\", \\\"mitigation\\\": \\\"מענה\\\"}],\\n  \\\"recommended_actions\\\": [{\\\"action\\\": \\\"פעולה\\\", \\\"priority\\\": \\\"P1\\\", \\\"deadline\\\": \\\"זמן\\\"}],\\n  \\\"resource_estimate\\\": {\\\"bd_hours\\\": 0, \\\"tech_hours\\\": 0, \\\"estimated_cost\\\": 0}\\n}\\n\\nJSON בלבד:`\n  }\n}];"
      },
      "id": "prepare",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "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" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 3000,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.userMessage) }}}]\n}",
        "options": { "timeout": 90000 }
      },
      "id": "call-claude",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "jsCode": "const claude = $input.first().json;\nconst prep = $('Prepare').first().json;\n\nif (!claude.content) {\n  return [{ json: { success: false, error: 'No Claude response', data: claude }}];\n}\n\nconst text = claude.content[0]?.text || '';\nlet result = null;\nlet parseError = null;\n\ntry {\n  const match = text.match(/\\{[\\s\\S]*\\}/s);\n  if (match) result = JSON.parse(match[0]);\n  else parseError = 'No JSON found';\n} catch (e) {\n  parseError = e.message;\n}\n\nreturn [{\n  json: {\n    success: result !== null,\n    tender_id: prep.tender_id,\n    tender_name: prep.tender_name,\n    submission_deadline: prep.deadline,\n    estimated_value: prep.estimated_value,\n    gate_analysis: prep.gate_stats,\n    decision: result?.decision || 'UNKNOWN',\n    confidence: result?.confidence || 0,\n    executive_summary: result?.executive_summary || '',\n    eligibility_status: result?.eligibility_status || 'UNKNOWN',\n    blocking_issues: result?.blocking_issues || [],\n    strengths: result?.strengths || [],\n    weaknesses: result?.weaknesses || [],\n    risks: result?.risks || [],\n    recommended_actions: result?.recommended_actions || [],\n    resource_estimate: result?.resource_estimate || {},\n    raw_response: text.substring(0, 400),\n    parse_error: parseError,\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse",
      "name": "Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1520, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Tender", "type": "main", "index": 0 }]] },
    "Get Tender": { "main": [[{ "node": "Get Conditions", "type": "main", "index": 0 }]] },
    "Get Conditions": { "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]] },
    "Prepare": { "main": [[{ "node": "Call Claude", "type": "main", "index": 0 }]] },
    "Call Claude": { "main": [[{ "node": "Parse", "type": "main", "index": 0 }]] },
    "Parse": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
