n8n/workflows/TDX-Test-Profile.json
{
  "name": "TDX-Test-Profile",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tdx-test-profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-test",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "tdx-test-profile-001"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/generated_profiles?select=*&id=eq.' + $json.body.profile_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-profile-test",
      "name": "Get Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/gate_conditions?select=*&tender_id=eq.' + $('Webhook').first().json.body.tender_id + '&order=condition_number.asc' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-conditions-test",
      "name": "Get Conditions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/tender_definitions?select=*&tender_id=eq.' + $('Webhook').first().json.body.tender_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" }
          ]
        },
        "options": {}
      },
      "id": "get-definitions-test",
      "name": "Get Definitions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build semantic matching prompt using generated profile data as company data\nconst profileRaw = $('Get Profile').first().json;\nconst profileData = Array.isArray(profileRaw) ? profileRaw[0] : profileRaw;\nconst conditionsRaw = $('Get Conditions').first().json;\nconst definitionsRaw = $('Get Definitions').first().json;\n\nconst conditionsArr = Array.isArray(conditionsRaw) ? conditionsRaw : [];\nconst definitionsArr = Array.isArray(definitionsRaw) ? definitionsRaw : [];\n\n// Format gate conditions for prompt\nconst formattedConditions = conditionsArr.map(g => ({\n  id: g.id,\n  number: g.condition_number,\n  text: g.condition_text,\n  type: g.condition_type,\n  is_mandatory: g.is_mandatory,\n  required_amount: g.required_amount,\n  required_count: g.required_count,\n  required_years: g.required_years,\n  resolved_requirement: g.resolved_requirement\n}));\n\n// Use generated profile data as if it were a real company\nconst projects = (profileData.generated_projects || []).map(p => ({\n  name: p.project_name,\n  client: p.client_name,\n  client_type: p.client_type,\n  start_date: p.start_date,\n  end_date: p.end_date,\n  total_value: p.total_value,\n  type: p.project_type,\n  category: p.category,\n  technologies: p.technologies,\n  role_type: p.role_type,\n  description: p.description || ''\n}));\n\nconst financials = profileData.generated_financials || [];\n\nconst certifications = (profileData.generated_certifications || []).map(c => ({\n  type: c.cert_type,\n  name: c.cert_name,\n  issuing_body: c.issuing_body,\n  valid_from: c.valid_from,\n  valid_until: c.valid_until\n}));\n\nconst personnel = (profileData.generated_personnel || []).map(p => ({\n  name: p.full_name,\n  role: p.role,\n  education: p.education,\n  years_experience: p.years_experience,\n  certifications: p.professional_certifications\n}));\n\n// System prompt - Semantic matching expert\nconst systemPrompt = `אתה מומחה להתאמת פרופילי חברות מול תנאי סף במכרזים ישראליים.\n\n## עקרון מרכזי:\nכל בדיקה חייבת להתבסס על **ההגדרות הספציפיות של המכרז**, לא על הבנה כללית.\n\n## כללי ברזל:\n1. **שם הפרויקט אינו ראיה** - בדוק תוכן, לא כותרת\n2. **הגדרת המכרז קודמת לכל** - אם המכרז מגדיר \"תחבורתי\" = תח\"צ בלבד, כביש ≠ תחבורתי\n3. **ערכי סף הם מוחלטים** - 9.9M < 10M = לא עומד\n4. **טווחי זמן מדויקים** - יום אחד מחוץ לטווח = לא עומד\n5. **הסבר כל החלטה** - כל כן/לא חייב נימוק\n6. **זהה מניפולציות** - שמות מטעים, ערכי גבול, תחומים מעורבים\n7. **פרשנות כפולה** - תמיד הצג גם מצמצמת וגם מרחיבה\n\nענה תמיד ב-JSON מובנה.`;\n\n// User prompt - Full semantic matching\nconst userPrompt = `בצע התאמה סמנטית מלאה בין פרופיל חברה לתנאי הסף של מכרז.\n\n## הנחיות מרכזיות:\n- השתמש בהגדרות המכרז לסיווג כל פרויקט\n- אל תסתמך על שמות פרויקטים - בדוק תוכן בלבד\n- חפש אי-התאמות ודגלים אדומים\n- תן הסבר מפורט בעברית לכל החלטה\n\n## הגדרות המכרז:\n${JSON.stringify(definitionsArr, null, 2)}\n\n## תנאי הסף:\n${JSON.stringify(formattedConditions, null, 2)}\n\n## פרופיל החברה:\n\n### פרויקטים:\n${JSON.stringify(projects, null, 2)}\n\n### נתונים פיננסיים:\n${JSON.stringify(financials, null, 2)}\n\n### הסמכות:\n${JSON.stringify(certifications, null, 2)}\n\n### אנשי מפתח:\n${JSON.stringify(personnel, null, 2)}\n\n## פלט נדרש (JSON):\n{\n  \"matching_results\": [\n    {\n      \"condition_id\": \"UUID\",\n      \"condition_number\": \"string\",\n      \"condition_text\": \"string\",\n      \"status\": \"MEETS | PARTIALLY_MEETS | DOES_NOT_MEET | UNKNOWN\",\n      \"confidence\": 0.0,\n      \"matching_assets\": [\n        {\n          \"asset_type\": \"PROJECT | FINANCIAL | CERTIFICATION | PERSONNEL\",\n          \"asset_name\": \"string\",\n          \"match_status\": \"FULL | PARTIAL | NONE\",\n          \"classification\": \"string\",\n          \"adversarial_flags\": [\n            {\n              \"flag_type\": \"MISLEADING_NAME | BOUNDARY_VALUE | WRONG_DOMAIN | OUT_OF_RANGE | AMBIGUOUS\",\n              \"description\": \"string\",\n              \"severity\": \"HIGH | MEDIUM | LOW\"\n            }\n          ],\n          \"overall_reasoning\": \"string\"\n        }\n      ],\n      \"gap_analysis\": {\n        \"has_gap\": true,\n        \"gap_description\": \"string\"\n      },\n      \"explanation_hebrew\": \"string\"\n    }\n  ],\n  \"overall_summary\": {\n    \"total_conditions\": 0,\n    \"meets_count\": 0,\n    \"does_not_meet_count\": 0,\n    \"overall_eligibility\": \"ELIGIBLE | NOT_ELIGIBLE | CONDITIONAL\",\n    \"blocking_conditions\": [],\n    \"executive_summary_hebrew\": \"string\"\n  }\n}`;\n\nreturn [{ json: { systemPrompt, userMessage: userPrompt } }];"
      },
      "id": "build-prompt-test",
      "name": "Build Matching Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "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" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-opus-4-5-20251101', max_tokens: 16000, system: $json.systemPrompt, messages: [{ role: 'user', content: $json.userMessage }] }) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "call-claude-test",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude matching response and compare with expected results\nconst claudeResponse = $('Call Claude').first().json;\nconst text = claudeResponse.content[0].text;\nconst profileRaw = $('Get Profile').first().json;\nconst profileData = Array.isArray(profileRaw) ? profileRaw[0] : profileRaw;\n\n// Extract JSON from Claude response\nlet matchResult;\nconst codeBlockMatch = text.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nif (codeBlockMatch) {\n  try { matchResult = JSON.parse(codeBlockMatch[1].trim()); } catch(e) { /* continue */ }\n}\nif (!matchResult) {\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try { matchResult = JSON.parse(jsonMatch[0]); } catch(e) { /* continue */ }\n  }\n}\nif (!matchResult) {\n  throw new Error('No valid JSON found in Claude matching response');\n}\n\n// Compare expected vs actual\nconst expected = profileData.expected_result || {};\nconst actual = matchResult.overall_summary || {};\nconst testPassed = expected.overall_eligibility === actual.overall_eligibility;\n\n// Build test result\nconst testResult = {\n  test_passed: testPassed,\n  profile_id: profileData.id,\n  profile_type: profileData.profile_type,\n  expected_eligibility: expected.overall_eligibility,\n  actual_eligibility: actual.overall_eligibility,\n  matching_results: matchResult.matching_results || [],\n  overall_summary: actual,\n  adversarial_alerts: actual.adversarial_alerts || [],\n  executive_summary: actual.executive_summary_hebrew || ''\n};\n\nreturn [{ json: testResult }];"
      },
      "id": "compare-results-test",
      "name": "Compare Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://rerfjgjwjqodevkvhkxu.supabase.co/rest/v1/generated_profiles?id=eq.' + $json.profile_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJlcmZqZ2p3anFvZGV2a3Zoa3h1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTQ5NDMwNywiZXhwIjoyMDgxMDcwMzA3fQ.HzsbNbVxrLXxRMNvlVuKaqduQ-PgcD3IrseKm_LcN34" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ test_run_at: new Date().toISOString(), test_result: $json, test_passed: $json.test_passed }) }}",
        "options": {}
      },
      "id": "update-profile-test",
      "name": "Update Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1740, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Compare Results').first().json }}",
        "options": {}
      },
      "id": "respond-test",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Get Profile", "type": "main", "index": 0 }]] },
    "Get Profile": { "main": [[{ "node": "Get Conditions", "type": "main", "index": 0 }]] },
    "Get Conditions": { "main": [[{ "node": "Get Definitions", "type": "main", "index": 0 }]] },
    "Get Definitions": { "main": [[{ "node": "Build Matching Prompt", "type": "main", "index": 0 }]] },
    "Build Matching Prompt": { "main": [[{ "node": "Call Claude", "type": "main", "index": 0 }]] },
    "Call Claude": { "main": [[{ "node": "Compare Results", "type": "main", "index": 0 }]] },
    "Compare Results": { "main": [[{ "node": "Update Profile", "type": "main", "index": 0 }]] },
    "Update Profile": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
